In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/raish/Downloads/full_data.csv")

In [3]:
df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
9,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1

In [5]:
df['stroke'] == 0

0       False
1       False
2       False
3       False
4       False
        ...
4976     True
4977     True
4978     True
4979     True
4980     True
Name: stroke, Length: 4981, dtype: bool

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [43]:
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [44]:
df['stroke'].value_counts()

0    4733
1     248
Name: stroke, dtype: int64

In [45]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [46]:
df['gender'] = label_encoder.fit_transform(df['gender'])

In [47]:
df.gender.unique() # male = 1 , female = 0

array([1, 0])

In [48]:
df['ever_married'] = label_encoder.fit_transform(df['ever_married'])

In [49]:
df.ever_married.unique() # yes = 1 , no = 0

array([1, 0])

In [69]:
df['Residence_type'] = label_encoder.fit_transform(df['Residence_type'])

In [70]:
df.Residence_type.unique() # urban = 1 , rural = 0

array([1, 0])

In [71]:
df['work_type'] = label_encoder.fit_transform(df['work_type'])

In [72]:
df.work_type.unique() # private = 1 , Self-employed = 2 , Govt_job = 0 , children = 3

array([1, 2, 0, 3], dtype=int64)

In [73]:
df.smoking_status.unique()

array([1, 2, 3, 0])

In [74]:
df['smoking_status'] = label_encoder.fit_transform(df['smoking_status'])

In [75]:
df.smoking_status.unique() # formerly_soked = 1, never smoked = 2 , smokes = 3, unknown = 0

array([1, 2, 3, 0], dtype=int64)

In [76]:
x = df.iloc[:,0:10]

In [77]:
x

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,1,1,228.69,36.6,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2
2,0,49.0,0,0,1,1,1,171.23,34.4,3
3,0,79.0,1,0,1,2,0,174.12,24.0,2
4,1,81.0,0,0,1,1,1,186.21,29.0,1
...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1
4977,1,40.0,0,0,1,1,1,191.15,31.1,3
4978,0,45.0,1,0,1,0,0,95.02,31.8,3
4979,1,40.0,0,0,1,1,0,83.94,30.0,3
4980,0,80.0,1,0,1,1,1,83.75,29.1,2

In [78]:
y = df.iloc[:,-1]

In [79]:
y

0       1
1       1
2       1
3       1
4       1
       ..
4976    0
4977    0
4978    0
4979    0
4980    0
Name: stroke, Length: 4981, dtype: int64

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=2)

In [82]:
x_train.shape

(4482, 10)

In [83]:
x_test.shape

(499, 10)

In [64]:
y_train.shape

(4482,)

In [84]:
y_test.shape

(499,)

In [85]:
from sklearn.linear_model import LogisticRegression

In [86]:
LR = LogisticRegression()

In [87]:
LR.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [88]:
y_pred = LR.predict(x_test)

In [89]:
y_test

2063    0
4836    0
4264    0
4435    0
2072    0
       ..
4571    0
1497    0
4230    0
4786    1
4365    0
Name: stroke, Length: 499, dtype: int64

In [90]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9458917835671342

In [91]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[472,   0],
       [ 27,   0]], dtype=int64)

In [92]:
import pickle

In [93]:
pickle.dump(LR,open("ClassLog","wb"))